/* =================
  WRITE YOUR CSS HERE.
  Check the ⌄ for help with formatting and validating your code.
  You must write some CSS to complete this challenge.
   ===================
*/


html,
body {
 margin: 0;
  height: 100%;
  background-image:  url(https://i.pinimg.com/originals/9e/20/fc/9e20fc9ba2e1456ff29caa6780521cb7.jpg);
  background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-size: cover;
}
header: {
  margin: 0 auto;
}
.welcome {
	color: rgba(16,173,232,1);
	font-size: 1.5em;
	line-height: 35px;
}
.welcome:hover {
  color: transparent;
}
h1 {
	color: #1a5d09;
	border-radius: 45px;
	height: 60px;
	line-height: 60px;
  text-align: center;
   background: #d2b9de;
  margin-top: 50px;
 background: rgb(16,173,232);
background: linear-gradient(0deg, rgba(16,173,232,1) 0%, rgba(231,200,39,1) 100%);
}
.name:hover {
  color: transparent;
}
nav{
  margin: 50px 0 0 0;
	background: #eca56b;
	border-radius: 45px;
	height: 60px;
	line-height: 35px;
	padding: 0 ;
  display: flex;
  justify content: center;
  background:	rgb(186, 204, 222);
  background: rgb(152, 179, 205);
   font-size: 1.2em;
  font-weight: 700;
}
a{
  padding: 0 15px;
	margin: 10px auto;
	color: #1a5d09;
	text-decoration: underline;
}
a:hover {
  color: red;
}
main {
  margin-top: 20px;
}
h2 {
  margin-top: 20px;
  padding-top: 20px;
}
#motivation {
  padding-top:  30px;
  margin: 20px 0;
  text-align: center;
  color: #e62e00;
  font-size: 2.2em;
  font-weight: 700;
}
#motivation:hover {
  color : #ff0066;
}
img{
	margin-left: 100px;
	margin-top: -110px;
  margin-bottom: 30px;
}
iframe{
	margin-left: 100px;
}
article { 
  margin: 40px 50px;
	font-size: 1.5rem;
line-height: 35px;
  background: #eca56b;
  background:	rgb(186, 204, 222);
  background: rgb(152, 179, 205);
  border-radius: 5px;
  padding: 0  20px;
}
.aboutme {
   margin: 5px;
	font-size: 1.5rem;
   padding-bottom:  30px;
}
#affirmation{
	margin-left: 50px;
   padding-top:  30px;
  margin: 20px 0;
  text-align: center;
  color: #1a5d09;
  color: #e62e00;
  font-size: 2.2em;
  font-weight: 700;
}
#affirmation:hover {
  color : #FCF802;
}
.c-site-footer {
  font-size: 1.2em;
	border-radius: 45px;
  height: 60px;
	line-height: 60px;
  margin-bottom: 40px ;
  text-align: center;
  background: #d2b9de;
  background: rgba(32,192,224,1);
  background: rgb(40,156,186);
  background: linear-gradient(180deg, rgba(40,156,186,1) 0%,   rgba(26,93,9,1) 100%);
}
.london {
    color: #FCF802;
  font-size: 25px;
} 
.london:hover {
color: #66ccff;
}

#comment {
	height: 150px;
}
@media (max-width: 400px) { 
  body {
    width: 100%;
  } 
  .aboutme {
   margin: 5px;
	font-size: 1.2rem;
   padding-bottom:  30px;
  }
  h2 {
    font-size: 1.2rem;
  }
  iframe{
	margin-left: 10px;
    width: 320px;
    height: 215px;
  }
  img{
	margin-left: 10px;
	margin-top: 10px;
  margin-bottom: 30px;
	width: 320px;
  height: 215px;
  }
  #motivation {
    font-size: 1.2em;
  }
  #affirmation{
    font-size: 1.2em;
  }
  h1 {
    font-size: 18px;
  } 
	
  #nav {
     font-size: 11px;
	 margin: 50px 0 0 0;
	
  display: flex;
  justify content: right;
 
  }
	
  .c-site-footer {
    font-size: 13px;
  }
}
  .london {
    color: #FCF802;
    font-size: 15px;
  } 
.inputs {
        margin: 50px 0 50px 0;
	padding: 0 0 0 250px;
	background: rgb(152, 179, 205);
	border-radius: 25px;
	height: 60px;
	line-height: 35px;
 	 display: flex;
 	 justify content: center;
	font-size: 1.0em;
}

.comment {
        margin: 50px 0 550 0;
	padding: 0 0 0 250px;
	background: rgb(152, 179, 205);
	border-radius: 25px;
	height: 60px;
	line-height: 35px;
 	 display: flex;
 	 justify content: center;
	font-size: 1.0em;
}
#buttons {
	margin-top:150px;
	margin-left:300px;
	
}


/* edit this */

